---
import Base from "@layouts/Base.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

type Post = CollectionEntry<"blog">;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const postByYear: {
  [year: number]: Post[];
} = {};

posts.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  if (!postByYear[year]) {
    postByYear[year] = [];
  }
  postByYear[year].push(post);
});
---

<Base title="Blog" description="List of blog posts">
  <article>
    <header>
      <hgroup>
        <h1>Oleksii Vasyliev aka leopard</h1>
        <p>I am a Software Architect, Full-Stack Engineer and Podcaster.</p>
      </hgroup>
    </header>
    {
      Object.keys(postByYear)
        .sort((a, b) => parseInt(b) - parseInt(a))
        .map((year) => (
          <section id={year}>
            <h2>{year}</h2>
            <ul>
              {postByYear[parseInt(year)].map((post: Post) => (
                <li>
                  <span>
                    <FormattedDate date={post.data.pubDate} />
                  </span>
                  &#8195;
                  <a href={`/${post.id}`} class="contrast">
                    {post.data.title}
                  </a>
                </li>
              ))}
            </ul>
          </section>
        ))
    }
  </article>
</Base>
<style>
  span {
    display: inline-block;
    min-width: 10ch;
  }
</style>
