---
import Base from "@layouts/Base.astro";
import { type CollectionEntry } from "astro:content";
import { postsGroupByYear } from "@utils/posts";
import FormattedDate from "@components/FormattedDate.astro";
import PostLink from "@components/PostLink.astro";

type Post = CollectionEntry<"blog">;

const postsByYear = await postsGroupByYear();
---

<Base title="Blog" description="List of blog posts">
  <article>
    <header>
      <hgroup>
        <h1>Oleksii Vasyliev aka leopard</h1>
        <p>I am a Software Architect, Full-Stack Engineer and Podcaster.</p>
      </hgroup>
    </header>
    {
      postsByYear.map(({ year, posts }) => (
        <section id={`year${year}`}>
          <h2>{year}</h2>
          <ul>
            {posts.map((post: Post) => (
              <li>
                <span>
                  <FormattedDate date={post.data.pubDate} />
                </span>
                &emsp;
                <PostLink post={post} class="contrast">
                  {post.data.title}
                </PostLink>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </article>
</Base>

<style>
  span {
    display: inline-block;
    min-width: 10ch;
  }
</style>
