---
import { siteConfig } from "~/settings";

interface Props {
  title: string;
  description?: string;
  ogType?: "website" | "article";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(siteConfig.og.image, Astro.url);

const {
  title,
  description = siteConfig.description,
  ogType = "website",
} = Astro.props;
---

<head>
  {/* Global Metadata */}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href={siteConfig.favicon} />
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={canonicalURL} />
  {/* Primary Meta Tags */}
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  {/* RSS */}
  <link
    rel="alternate"
    type="application/rss+xml"
    title={title}
    href={new URL("rss.xml", Astro.site)}
  />
  {/* Open Graph */}
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:type" content={ogType} />
  <meta property="og:site_name" content={siteConfig.title} />
  <meta property="og:description" content={description} />
  <meta property="og:title" content={title} />

  <meta property="og:image" content={socialImageURL} />
  <meta property="og:image:type" content={siteConfig.og.imageType} />
  <meta property="og:image:alt" content={siteConfig.og.imageAlt} />
  <meta property="og:image:width" content={siteConfig.og.imageWidth} />
  <meta property="og:image:height" content={siteConfig.og.imageHeight} />
</head>
